<!DOCTYPE html>
<html>
  <head>
    <title>Incident Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module" %>
  </head>

  <body class="bg-gray-100">
    <%= render NavigationComponent.new %>
    <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <%= yield %>
    </main>
  </body>
</html>
